body{
	padding: 0;
	margin: 0;
	background-image:url(images/anime.jpg);
	background-size: 100%;
}
#text{
	font: italic bold 45px Comic Sans MS,cursive;
	color: #000000;
	padding: 15px;
	margin-left: 773px;
	margin-top: -253px;
	width: 450px;
	text-align: center;
}

img{
	margin-left: 800px;
	margin-top: 26px;
}

